<h2><%= @list.name %></h2>
<%= @list.description %>

<ul>
  <% @list.tasks.each do |task| %>
  <li><%= task.description %> </li>
  <% end %>
</ul>

<%= form_for [@list, @task] do |form|   %>
      <%= form.text_field :description %>  <%= form.submit%>
<% end %>

<hr/>
<%= link_to "Back to all lists", lists_url %>

